<section id="section-about" class="clearfix about">

    <div class="about__doctor-slab">
        {#<div class="heading center">#}
            {#<h2 class="heading__main">MEET THE DOCTOR</h2>#}
        {#</div>#}
        <div class="container">
            <div class="row">
                <div class="doctor__wrapper">
                    <div class="doctor">
                        <h2 class="doctor__name">Casey Culberson, DDS</h2>
                        <h3 class="doctor__byline">General Dentist</h3>
                        <p class="doctoc__copy">The minute you walk through the door, you will know you've come to the right
                            place. By combining advanced dental technology with a gentle, friendly style, Dr. Casey
                            Culberson and his team will make you and your family more comfortable than you ever thought
                            possible.</p>
                        <p class="doctoc__copy">The office's spa-like atmosphere and warm, inviting staff members will make
                            you feel right at home. And Dr. Culberson's use of the latest advances in technology, including
                            digital x-rays, metal-free fillings, and Zoom! whitening will help you maintain a beautiful
                            smile.</p>
                        <p class="doctoc__copy">Dr. Culberson is a Mill Creek native and doctoral graduate of University of
                            Washington School of Dentistry. He and his wife Alyssa have two children.</p>
                        {% include 'molecules/associations__carousel.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="doctor__mobile-image">
            <img src="assets/culberson-bio.jpg" alt="{{  mainDoctor }}">
        </div>
    </div>
</section>

