<!-- Marquee Slider
============================================= -->
<div id="mobile-background" class="hidden-md hidden-lg">
    <a href="#" data-scrollto="#section-specials" data-offset="0">
        <img src="assets/slides/mobile-slide.jpg" style="width:100%;height:auto;" alt="{{ doctorName }}">
    </a>
</div>

<!-- Marquee Slider
============================================= -->
<section id="marquee-slider" class="hidden-xxs hidden-xs hidden-sm slider-parallax swiper_wrapper clearfix hidden-xs">
    <div class="swiper-container swiper-parent swiper-container-horizontal">
        <div class="swiper-wrapper">
            <!--Slide 1-->
            <!--=======-->
            <div class="swiper-slide swiper-slide-active slide1">
                <img src="/assets/slides/culberson-slide1.jpg" alt="{{ doctorName }}">
                <div class="container clearfix slide-content">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6 center">
                            <img src="assets/slides/slide1-headline.png" alt="Discover why Mill Creek loves their dentist">
                            <h3 class="slide__copy">Now Welcoming New Patients</h3>
                            <a href="#" class="btn btn--style-four" data-scrollto="#section-specials" data-offset="80">New Patient Offers</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Slide 3-->
            <!--=======-->
            <div class="swiper-slide slide3">
                <img src="/assets/slides/slide2-membership.jpg" alt="older couple with a great smile">
                <div class="container clearfix slide-content">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6 center">
                            <img src="assets/slides/slide2-headline.png" alt="No Insurance Needed">
                            <h3 class="preventative-copy">Get your preventive care<br>for a low monthly fee</h3>
                            <a href="#" class="btn btn--style-four" data-offset="80" data-scrollto="#section-insurance">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Slide 2-->
            <!--=======-->
            <div class="swiper-slide slide2">
                <img src="/assets/slides/slide3-reviews.jpg" alt="Younger couple with a great smile">
                <div class="container clearfix slide-content">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6 center">
                            <img src="assets/slides/slide3-headline.png" alt="See what patients are saying">
                            <div class="stars"><img src="assets/slides/stars.png" alt="five stars"></div>
                            <h5 class="copy">“Dr. Culberson and his team are professional and efficient. They do excellent work with no pain in extremely comfortable conditions.” –Justin H.</h5>
                            <a href="#" class="btn btn--style-four" data-offset="80" data-scrollto="#section-reviews">Read More Reviews</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% include 'atoms/down-arrow.twig' %}
