<div class="google-map">
    <!-- TODO Replace the API key in this google maps API call with one maintained by Tyson Steele -->
    <iframe width="600" height="450" style="border:0"
            src="https://www.google.com/maps/embed/v1/search?q=Casey%20Culberson%20Dentist&key=AIzaSyBLPaXD3g_Hdz0EXkc2m6FgAsDOmrRi6D0" allowfullscreen></iframe>
</div>