<div class="associations-carousel">
    {#<div class="container">#}
        <div class="associations-carousel--wrapper">
            <div class="owl-carousel js-associations-carousel">
                <div class="logo--wrapper"><img src="assets/associations/ada.png" alt="American Dental Association"></div>
                <div class="logo--wrapper"><img src="assets/associations/agd-logo.png" alt="Academy of General Dentistry"></div>
                <div class="logo--wrapper"><img src="assets/associations/wsda.png" alt="WSDA"></div>
                <div class="logo--wrapper"><img src="assets/associations/snohomish-county-ds.png" alt="Snohomish County DA"></div>

                {#<div class="logo--wrapper"><img src="assets/associations/fagd.png" alt="fello Academy of general dentistry"></div>#}
                {#<div class="logo--wrapper"><img src="assets/associations/ficoi.png" alt="International congress of oral implantologists"></div>#}
                {#<div class="logo--wrapper"><img src="assets/associations/academy-craniofacial.png" alt="TMD and Dental Sleep Community"></div>#}
                {#<div class="logo--wrapper"><img src="assets/associations/aes.png" alt="American Equilibration Society"></div>#}
                {#<div class="logo--wrapper"><img src="assets/associations/arizona-dental-assoc.png" alt="Arizona Dental Association"></div>#}
            </div>
        </div>
    {#</div>#}
</div>
